*.resharperoptions
Web_Data
log
bin/
Bin/
*/obj
obj
*/TestResults
TestResults
*.svclog
Debug
Release
*.suo
*.StyleCop
StyleCop.Cache
*.user
*.vsp
*.dll
*_ReSharper*
packages
vendor/
composer.lock
composer.phar
AtomiaGrpcBilling.php
AtomiaGrpcBaseTypes.php
node_modules/
*.pyc
packages/
gRPC/csharp/Client/Client/bin
gRPC/csharp/Client/Client/obj
.vs
AtomiaGrpcBilling.cs
AtomiaGrpcBillingGrpc.cs
AtomiaGrpcBaseTypes.cs
root.pem
*.swp
AtomiaGrpcBilling_pb2.py
AtomiaGrpcBaseTypes_pb2.py
*.pyc
node_modules
