*.resharperoptions
Web_Data
log
bin/
Bin/
*/obj
obj
*/TestResults
TestResults
*.svclog
Debug
Release
*.suo
*.StyleCop
StyleCop.Cache
*.user
*.vsp
*.dll
*_ReSharper*
packages
vendor/
composer.lock
composer.phar
AtomiaGrpcAccount.php
AtomiaGrpcBilling.php
AtomiaGrpcBaseTypes.php
AtomiaGrpcProvisioning.php
node_modules/
*.pyc
packages/
gRPC/csharp/Client/Client/bin
gRPC/csharp/Client/Client/obj
.vs
AtomiaGrpcProvisioning.cs
AtomiaGrpcBilling.cs
AtomiaGrpcBillingGrpc.cs
AtomiaGrpcBaseTypes.cs
AtomiaGrpcAccount.cs
AtomiaGrpcAccountGrpc.cs
root.pem
*.swp
AtomiaGrpcAccount_pb2.py
AtomiaGrpcBilling_pb2.py
AtomiaGrpcBaseTypes_pb2.py
AtomiaGrpcProvisioning_pb2.py
*.pyc
node_modules
!Atomia.Web.Plugin.Example/References/*.dll
