<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:is="http://schemas.atomia.com/2009/06/configuration/identity" >
	<atomiaBilling>
		<provisioningOrders>
			<provisioningOrder provisioningService="CustomProduct" order="10" xdt:Transform="Insert"/>
		</provisioningOrders>
	</atomiaBilling>				 
	
	<package name="CustomProduct" type="Custom" xdt:Locator="XPath(//*[local-name()='packages'])" xdt:Transform="Insert" xmlns="atomiaProvisioning" />
	
	<customProducts xdt:Locator="XPath(//*[local-name()='atomiaProvisioningHosting'][@contactPackageName='DomainRegistrationContactPackage'])" xdt:Transform="Insert" xmlns="atomiaProvisioning">				
		<customProduct name="CustomProduct" provisioningService="CustomProduct" handlerClass="Atomia.Billing.Plugins.ProvisioningPlugins.Custom.CustomProvisioningHandler, Atomia.Billing.Plugins.ProvisioningPlugins.Custom">
			<customProductProperties>
				<property name="parentService" value="CsInstances" />
				<property name="rootService" value="CsCloud" />
				<property name="linuxInstance" value="CsLinuxInstance" />
				<property name="windowsInstance" value="CsWindowsInstance" />
			</customProductProperties>
		</customProduct>
	</customProducts>

</configuration>