<?xml version="1.0" encoding="UTF-8"?>
<appConfig xmlns="Atomia.Web.Base.Configs" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <routing>
    <routeAreasList>
      
      <!-- The route area needs to be inserted before root area in order, so depending on current order value of root,
           and any other custom added route areas, the order values below should be changed. 
      -->
      
      <routeAreas name="Example" order="23" xdt:Transform="Insert">
        <route name="" url="{accountID}/Example/{controller}/{action}" id="306240" controllerNamespace="Atomia.Web.Plugin.Example.Controllers">
          <routeDefaultsList>
            <routeDefault name="controller" value="Home" />
            <routeDefault name="action" value="Index" />
            <routeDefault name="accountID" value="" />
            <routeDefault name="serviceID" value="" />
          </routeDefaultsList>
        </route>
        <route name="" url="{accountID}/Example/{controller}/{serviceID}/{action}" id="3119257" controllerNamespace="Atomia.Web.Plugin.Example.Controllers">
          <routeDefaultsList>
            <routeDefault name="controller" value="Home" />
            <routeDefault name="action" value="Index" />
            <routeDefault name="accountID" value="" />
            <routeDefault name="serviceID" value="" />
          </routeDefaultsList>
        </route>
      </routeAreas>

      <routeAreas name="root" order="24" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(order)" />
    </routeAreasList>
  </routing>
</appConfig>
