<?xml version="1.0" encoding="UTF-8"?>
<appConfig xmlns="Atomia.Web.Base.Configs" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <themesList>
    <theme isActive="true" name="Example" parentTheme="NewDefault" xdt:Transform="Insert" />
    <theme isActive="false" name="NewDefault" parentTheme="NewDefault" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(isActive)" />
  </themesList>

  <routing>
    <routeAreasList>
      
      <!-- The route area needs to be inserted before root area in order, so depending on current order value of root,
           and any other custom added route areas, the order values below should be changed. 
      -->
      
      <routeAreas name="Example" order="23" xdt:Transform="Insert">
        <route name="" url="{accountID}/Example/{controller}/{action}" id="306240" controllerNamespace="Atomia.Web.Plugin.Example.Controllers">
          <routeDefaultsList>
            <routeDefault name="controller" value="Home" />
            <routeDefault name="action" value="Index" />
            <routeDefault name="accountID" value="" />
            <routeDefault name="serviceID" value="" />
          </routeDefaultsList>
        </route>
        <route name="" url="{accountID}/Example/{controller}/{serviceID}/{action}" id="3119257" controllerNamespace="Atomia.Web.Plugin.Example.Controllers">
          <routeDefaultsList>
            <routeDefault name="controller" value="Home" />
            <routeDefault name="action" value="Index" />
            <routeDefault name="accountID" value="" />
            <routeDefault name="serviceID" value="" />
          </routeDefaultsList>
        </route>
      </routeAreas>

      <routeAreas name="root" order="24" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(order)" />
    </routeAreasList>
  </routing>
  
  <menusList>
    <menu menuId="atoms">
      <!-- If you would like to limit when the menu is shown you could add something similar to the additionalItemPropertiesList entries below. It will limit the same as the limiting showing the dashboard icon, 
           as is done in ExamplePartialsController via the more realistic ExampleManager::CanAddExampleServices method.-->
      <menuItem id="menu_example" name="Example" resourceKey="Examples" controller="" action="" hTMLWrapper="&lt;span class=&quot;submenu&quot;&gt;&lt;/span&gt;" xdt:Transform="Insert">
        <!--
        <additionalItemPropertiesList>
          <additionalItemProperties id="menu_example_aip1" name="packageLimitationSubItem" value="Example" />
        </additionalItemPropertiesList>
        -->
        <menuItem id="menu_example_1" name="Example" resourceKey="Example" action="Index" controller="Example" controllerAssembly="Atomia.Web.Plugin.Example" controllerNamespace="Atomia.Web.Plugin.Example.Controllers">
          <additionalRouteValuesList>
            <additionalRouteValues id="menu_example_arv1" name="accountID" value="{accountID}" />
          </additionalRouteValuesList>
          <!--
          <additionalItemPropertiesList>
            <additionalItemProperties id="menu_example_aip2" name="packageLimitationSubItemService" value="Example" />
          </additionalItemPropertiesList>
          -->
        </menuItem>
      </menuItem>
    </menu>
  </menusList>
  
</appConfig>
