<?xml version="1.0" encoding="UTF-8"?>
<atomiaServicesConfig xmlns="Atomia.Web.Base.Configs" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <atomiaServicesList>
    <!-- 
      The atomiaService is a mapping of provisioning description properties for a service that should be available from HCP.
      The atomiaService 'name' property is mirrored in the 'value' property of pluginSettingCustomAttribute in
      Atomia.Web.Plugin.HCP.Provisioning.dll.Example.config
    -->
    <atomiaService name="Example Complex Service" area="*" controller="*" action="*" xdt:Transform="Insert">
      <atomiaServicePropertiesList>
        <atomiaServiceProperty name="Name">
          <atomiaServicePropertyProvisioningDescription propertyName="Name" provisioningDescriptionID="ProvisioningDescriptionGlobal" />
        </atomiaServiceProperty>
        <atomiaServiceProperty name="Status">
          <atomiaServicePropertyProvisioningDescription propertyName="Status" provisioningDescriptionID="ProvisioningDescriptionGlobal" />
        </atomiaServiceProperty>
      </atomiaServicePropertiesList>
      <atomiaServiceProvisioningDescriptionList>
        <atomiaServiceProvisioningDescription path="CsBase" serviceName="CsExample" provisionDescriptionID="ProvisioningDescriptionGlobal" />
      </atomiaServiceProvisioningDescriptionList>
    </atomiaService>
  </atomiaServicesList>
</atomiaServicesConfig>
