<?xml version="1.0" encoding="utf-8"?>
<appConfig xmlns="Atomia.Web.Base.Configs" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <routing>
    <routeAreasList>
      <routeAreas name="Example" order="22" xdt:Transform="Insert">
        <route id="1231234" name="" url="{accountID}/Example/{action}" controllerNamespace="Atomia.Web.Plugin.Example.Controllers">
          <routeDefaultsList>
            <routeDefault name="controller" value="Example" />
            <routeDefault name="action" value="Index" />
          </routeDefaultsList>
        </route>
      </routeAreas>
      <routeAreas name="root" order="23" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(order)" />
    </routeAreasList>
  </routing>
</appConfig>