<?xml version="1.0" encoding="utf-8"?>
<atomiaServicesConfig xmlns="Atomia.Web.Base.Configs" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <atomiaServicesList>
    <!-- Example -->
    <atomiaService name="Example Simple Service" area="*" controller="*" action="*"  xdt:Transform="Insert">
      <atomiaServicePropertiesList>
        <atomiaServiceProperty name="AccountId">
          <atomiaServicePropertyProvisioningDescription propertyName="AccountId" provisioningDescriptionID="ProvisioningDescriptionGlobal" />
        </atomiaServiceProperty>
        <atomiaServiceProperty name="FirstName">
          <atomiaServicePropertyProvisioningDescription propertyName="FirstName" provisioningDescriptionID="ProvisioningDescriptionGlobal" />
        </atomiaServiceProperty>
        <atomiaServiceProperty name="LastName">
          <atomiaServicePropertyProvisioningDescription propertyName="LastName" provisioningDescriptionID="ProvisioningDescriptionGlobal" />
        </atomiaServiceProperty>
      </atomiaServicePropertiesList>
      <atomiaServiceProvisioningDescriptionList>
        <atomiaServiceProvisioningDescription path="CsBase" serviceName="Example" provisionDescriptionID="ProvisioningDescriptionGlobal" />
      </atomiaServiceProvisioningDescriptionList>
    </atomiaService>
  </atomiaServicesList>
</atomiaServicesConfig>