<?xml version="1.0" encoding="utf-8"?>
<!-- 
CONFIGURATION SECTION: <productConfigurationSection>

Add examples and explanations...
-->
<configuration>
  <configSections>
    <section name="hostingProductsConfigurationSection" type="Atomia.Web.Plugin.HostingProducts.Configurations.HostingProductsConfigurationSection, Atomia.Web.Plugin.HostingProducts" />
  </configSections>
  <!--==========Product Configuration Section=========-->
  <hostingProductsConfigurationSection xmlns="Atomia.Web.Plugin.HostingProducts.Configurations">
    <productsList>
      <!-- Monthly products -->
      <product id="pid1" articalNumber="XSV-MYSQL" productCategory="ExtraService" resourceKey="ExtMYSQLDbMonth">
        <customAttributes>
          <customAttribute name="maximalproductvalue" value="10" />
          <customAttribute name="minimalproductvalue" value="1" />
          <customAttribute name="productvaluestep" value="1" />
          <customAttribute name="productvalueunit" value="" />
          <customAttribute name="packages" value="HST-GLDY|HST-GLDQ|HST-GLDM" />
        </customAttributes>
      </product>
      <product id="pid2" articalNumber="XSV-MSSQL" productCategory="ExtraService" resourceKey="ExtMSSQLDbMonth">
        <customAttributes>
          <customAttribute name="maximalproductvalue" value="10" />
          <customAttribute name="minimalproductvalue" value="1" />
          <customAttribute name="productvaluestep" value="1" />
          <customAttribute name="productvalueunit" value="" />
          <customAttribute name="packages" value="HST-GLDY|HST-GLDQ|HST-GLDM" />
        </customAttributes>
      </product>
      <!-- TLDs -->
      <product id="pid6" articalNumber="DMN-COM" productCategory="TLD" productValue=".com">
        <customAttributes>
          <customAttribute name="tos" value="defaultTOS" />
        </customAttributes>
      </product>
      <product id="pid7" articalNumber="DMN-NET" productCategory="TLD" productValue=".net">
      </product>
      <product id="pid8" articalNumber="DMN-ORG" productCategory="TLD" productValue=".org">
      </product>
      <product id="pid9" articalNumber="DMN-INFO" productCategory="TLD" productValue=".info">
      </product>
      <!-- Transfer TLDs -->
      <product id="pid10" articalNumber="DTR-COM" productCategory="TransferTLD" productValue=".com">
        <customAttributes>
          <customAttribute name="tos" value="defaultTOS" />
        </customAttributes>
      </product>
      <product id="pid11" articalNumber="DTR-NET" productCategory="TransferTLD" productValue=".net">
      </product>
      <product id="pid12" articalNumber="DTR-ORG" productCategory="TransferTLD" productValue=".org">
      </product>
      <product id="pid13" articalNumber="DTR-INFO" productCategory="TransferTLD" productValue=".info">
      </product>
      <product id="dtr-nu" articalNumber="DTR-NU" productCategory="TransferTLD" productValue=".nu">
        <customAttributes>
          <customAttribute name="authCodeRequired" value="false" />
        </customAttributes>
      </product>
      <product id="dtr-eu" articalNumber="DTR-EU" productCategory="TransferTLD" productValue=".eu">
        <customAttributes>
          <customAttribute name="authCodeRequired" value="false" />
        </customAttributes>
      </product>
      <!-- Hosting Packages -->
      <product id="pid14" articalNumber="HST-GLDY" productCategory="HostingPackage" resourceKey="BasePackageYear">
        <customAttributes>
          <customAttribute name="space" value="3 GB" />
          <customAttribute name="traffic" value="50 GB" />
          <!-- Duration of the package (given in months, always) -->
          <customAttribute name="duration" value="12" />
          <customAttribute name="checkduration" value="false" />
          <customAttribute name="hasextraservices" value="true" />
        </customAttributes>
      </product>
      <product id="pid15" articalNumber="HST-PLTY" productCategory="HostingPackage" resourceKey="PremiumPackageYear">
        <customAttributes>
          <customAttribute name="space" value="6 GB" />
          <customAttribute name="traffic" value="100 GB" />
          <!-- Duration of the package (given in months, always) -->
          <customAttribute name="duration" value="12" />
          <customAttribute name="checkduration" value="false" />
        </customAttributes>
      </product>
      <product id="pid16" articalNumber="HST-GLDQ" productCategory="HostingPackage" resourceKey="BasePackageQuater">
        <customAttributes>
          <customAttribute name="space" value="3 GB" />
          <customAttribute name="traffic" value="50 GB" />
          <!-- Duration of the package (given in months, always) -->
          <customAttribute name="duration" value="3" />
          <customAttribute name="checkduration" value="false" />
        </customAttributes>
      </product>
      <product id="pid17" articalNumber="HST-PLTQ" productCategory="HostingPackage" resourceKey="PremiumPackageQuater">
        <customAttributes>
          <customAttribute name="space" value="6 GB" />
          <customAttribute name="traffic" value="100 GB" />
          <!-- Duration of the package (given in months, always) -->
          <customAttribute name="duration" value="3" />
          <customAttribute name="checkduration" value="false" />
        </customAttributes>
      </product>
      <product id="pid18" articalNumber="HST-GLDM" productCategory="HostingPackage" resourceKey="BasePackageMonth">
        <customAttributes>
          <customAttribute name="space" value="3 GB" />
          <customAttribute name="traffic" value="50 GB" />
          <!-- Duration of the package (given in months, always) -->
          <customAttribute name="duration" value="1" />
          <customAttribute name="checkduration" value="false" />
          <customAttribute name="hasextraservices" value="true" />
        </customAttributes>
      </product>
      <product id="pid19" articalNumber="HST-PLTM" productCategory="HostingPackage" resourceKey="PremiumPackageMonth">
        <customAttributes>
          <customAttribute name="space" value="6 GB" />
          <customAttribute name="traffic" value="100 GB" />
          <!-- Duration of the package (given in months, always) -->
          <customAttribute name="duration" value="1" />
          <customAttribute name="checkduration" value="false" />
        </customAttributes>
      </product>
      <product id="pid20" articalNumber="DNS-PK" productCategory="HostingPackage" productValue="DnsPackage" resourceKey="DNSPackage">
        <customAttributes>
          <customAttribute name="space" value="N/A" />
          <customAttribute name="traffic" value="N/A" />
          <customAttribute name="duration" value="0" />
        </customAttributes>
      </product>
      <product id="pid21" articalNumber="DNS-PK" productCategory="freePackage" />
      <product id="pid22" articalNumber="XSV-OD" productCategory="ownDomain" />
      <product id="pid23" articalNumber="BIL-IF" productCategory="setupFee" resourceKey="SetupFeeTitleDesc" />
      <product id="pid24" articalNumber="BIL-SF" productCategory="postOrder" resourceKey="PostOrderTitleDesc" />
      <!-- Extra services -->
      <product id="pid27" articalNumber="SSL-CERT" productCategory="SSL" resourceKey="ExtSSL" />
      <!-- Prepaid credit -->
      <product id="pid28" articalNumber="CRD-PREPAID" productCategory="PrepaidCredit" resourceKey="AtomiaCredits" />
    </productsList>
    <resellerGuid value="b77b8b91-741b-4cf1-88b4-feb21550055c" />
  </hostingProductsConfigurationSection>
  <!--================================================-->
</configuration>