<?xml version="1.0" encoding="utf-8"?>
<appConfig xmlns="Atomia.Web.Base.Configs" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <routing>
    <routeAreasList>
      <routeAreas name="Tickets" order="22" xdt:Transform="Insert">
        <route id="1231234" name="" url="{accountID}/Tickets/{action}" controllerNamespace="Atomia.Web.Plugin.Example.Controllers">
          <routeDefaultsList>
            <routeDefault name="controller" value="Tickets" />
            <routeDefault name="action" value="Index" />
          </routeDefaultsList>
        </route>
		 <route id="1231235" name="" url="{accountID}/Tickets/{action}" controllerNamespace="Atomia.Web.Plugin.Example.Controllers">
          <routeDefaultsList>
            <routeDefault name="controller" value="Tickets" />
            <routeDefault name="action" value="ViewTicket" />
          </routeDefaultsList>
        </route>
      </routeAreas>
      <routeAreas name="root" order="23" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(order)" />
    </routeAreasList>
  </routing>
  <menusList>	
    <menu menuId="atoms">
      <menuItem id="TicketsMenu" name="TicketsMenu" resourceKey="TicketsMenu" controller="Tickets" action="Index" controllerAssembly="Atomia.Web.Plugin.Example"
            controllerNamespace="Atomia.Web.Plugin.Example.Controllers" xdt:Transform="Insert">
        <additionalRouteValuesList>
          <additionalRouteValues id="arv_ef_001" name="accountID" value="{accountID}" />
        </additionalRouteValuesList>
      </menuItem>
    </menu>
  </menusList>
</appConfig>