<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loginActionFilterConfiguration" type="Atomia.Custom.FederatedAuthenticationLoginActionFilter.Configuration.LoginActionFilterConfiguration"/>
  </configSections>
  <loginActionFilterConfiguration host="legacyapp.examplenewshop.com" url="http://newsts.examplenewshop.com/PassiveStsEndpoint.aspx" realm="https://identity.int.atomia.com/PassiveStsEndpoint.aspx" />
</configuration>