<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsFederationHttpBinding>
        <binding name="WSFederationHttpBinding_IAuthorizationApi" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                 sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <message algorithmSuite="Default" issuedKeyType="SymmetricKey" negotiateServiceCredential="true">
              <claimTypeRequirements>
                <add claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" isOptional="false" />
                <add claimType="http://schemas.atomia.com/atomia/2009/04/identity/claims/groups" isOptional="true" />
              </claimTypeRequirements>
              <issuer address="http://sts.dev.atomia.com/AtomiaSts.svc/cert/" binding="wsHttpBinding" bindingConfiguration="http://sts.dev.atomia.com/AtomiaSts.svc/cert/">
              </issuer>
              <issuerMetadata address="http://sts.dev.atomia.com/AtomiaSts.svc/mex" />
            </message>
          </security>
        </binding>
        <binding name="WSFederationHttpBinding_IConfigApi" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <message algorithmSuite="Default" issuedKeyType="SymmetricKey" negotiateServiceCredential="true">
              <claimTypeRequirements>
                <add claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" isOptional="false" />
                <add claimType="http://schemas.atomia.com/atomia/2009/04/identity/claims/groups" isOptional="true" />
              </claimTypeRequirements>
              <issuer address="http://sts.dev.atomia.com/AtomiaSts.svc/cert/" binding="wsHttpBinding" bindingConfiguration="http://sts.dev.atomia.com/AtomiaSts.svc/cert/">
              </issuer>
              <issuerMetadata address="http://sts.dev.atomia.com/AtomiaSts.svc/mex" />
            </message>
          </security>
        </binding>
        <binding name="WSFederationHttpBinding_ICoreApi" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <message algorithmSuite="Default" issuedKeyType="SymmetricKey" negotiateServiceCredential="true">
              <claimTypeRequirements>
                <add claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" isOptional="false" />
                <add claimType="http://schemas.atomia.com/atomia/2009/04/identity/claims/groups" isOptional="true" />
              </claimTypeRequirements>
              <issuer address="http://sts.dev.atomia.com/AtomiaSts.svc/cert/" binding="wsHttpBinding" bindingConfiguration="http://sts.dev.atomia.com/AtomiaSts.svc/cert/">
              </issuer>
              <issuerMetadata address="http://sts.dev.atomia.com/AtomiaSts.svc/mex" />
            </message>
          </security>
        </binding>
        <binding name="WSFederationHttpBinding_IAtomiaAccountApi" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                 sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <message algorithmSuite="Default" issuedKeyType="SymmetricKey" negotiateServiceCredential="true">
              <claimTypeRequirements>
                <add claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" isOptional="false" />
                <add claimType="http://schemas.atomia.com/atomia/2009/04/identity/claims/groups" isOptional="true" />
              </claimTypeRequirements>
              <issuer address="http://sts.dev.atomia.com/AtomiaSts.svc/cert/" binding="wsHttpBinding" bindingConfiguration="http://sts.dev.atomia.com/AtomiaSts.svc/cert/">
              </issuer>
              <issuerMetadata address="http://sts.dev.atomia.com/AtomiaSts.svc/mex" />
            </message>
          </security>
        </binding>
        <binding name="WSFederationHttpBinding_IAtomiaIdentityUserApi" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                 sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <message algorithmSuite="Default" issuedKeyType="SymmetricKey" negotiateServiceCredential="true">
              <claimTypeRequirements>
                <add claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" isOptional="false" />
                <add claimType="http://schemas.atomia.com/atomia/2009/04/identity/claims/groups" isOptional="true" />
              </claimTypeRequirements>
              <issuer address="http://sts.dev.atomia.com/AtomiaSts.svc/cert/" binding="wsHttpBinding" bindingConfiguration="http://sts.dev.atomia.com/AtomiaSts.svc/cert/">
              </issuer>
              <issuerMetadata address="http://sts.dev.atomia.com/AtomiaSts.svc/mex" />
            </message>
          </security>
        </binding>
        <binding name="WSFederationHttpBinding_IAtomiaBillingApi" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                 sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <message algorithmSuite="Default" issuedKeyType="SymmetricKey" negotiateServiceCredential="true">
              <claimTypeRequirements>
                <add claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" isOptional="false" />
                <add claimType="http://schemas.atomia.com/atomia/2009/04/identity/claims/groups" isOptional="true" />
              </claimTypeRequirements>
              <issuer address="http://sts.dev.atomia.com/AtomiaSts.svc/cert/" binding="wsHttpBinding" bindingConfiguration="http://sts.dev.atomia.com/AtomiaSts.svc/cert/">
              </issuer>
              <issuerMetadata address="http://sts.dev.atomia.com/AtomiaSts.svc/mex" />
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>
      <wsHttpBinding>
        <binding name="http://sts.dev.atomia.com/AtomiaSts.svc/cert/" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                 sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="http://sts.dev.atomia.com/AtomiaSts.svc/username/" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:10:00"
                 sendTimeout="01:00:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <clientCertificate findValue="guicert.dev.atomia.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <clientInterceptors />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://automationserver.dev.atomia.com/ConfigAPI.svc" behaviorConfiguration="ClientCertificateBehavior" binding="wsFederationHttpBinding"
                bindingConfiguration="WSFederationHttpBinding_IConfigApi" contract="ConfigAPI.IConfigApi" name="WSFederationHttpBinding_IConfigApi">
      </endpoint>
      <endpoint address="http://automationserver.dev.atomia.com/CoreAPI.svc" behaviorConfiguration="ClientCertificateBehavior" binding="wsFederationHttpBinding"
                bindingConfiguration="WSFederationHttpBinding_ICoreApi" contract="CoreAPI.ICoreApi" name="WSFederationHttpBinding_ICoreApi">
      </endpoint>
      <endpoint address="http://automationserver.dev.atomia.com/AuthorisationAPI.svc" behaviorConfiguration="ClientCertificateBehavior"
                binding="wsFederationHttpBinding" bindingConfiguration="WSFederationHttpBinding_IAuthorizationApi" contract="AuthorisationAPI.IAuthorizationApi"
                name="WSFederationHttpBinding_IAuthorizationApi">
      </endpoint>
      <endpoint address="http://accountapi.dev.atomia.com/AtomiaAccountApi.svc" behaviorConfiguration="ClientCertificateBehavior"
                binding="wsFederationHttpBinding" bindingConfiguration="WSFederationHttpBinding_IAtomiaAccountApi" contract="AccountAPI.IAtomiaAccountApi"
                name="WSFederationHttpBinding_IAtomiaAccountApi">
      </endpoint>
      <endpoint address="http://userapi.dev.atomia.com/UserApi.svc" behaviorConfiguration="ClientCertificateBehavior" binding="wsFederationHttpBinding"
                bindingConfiguration="WSFederationHttpBinding_IAtomiaIdentityUserApi" contract="UserAPI.IAtomiaIdentityUserApi" name="WSFederationHttpBinding_IAtomiaIdentityUserApi">
      </endpoint>
      <endpoint address="http://billingapi.dev.atomia.com/AtomiaBillingApi.svc" behaviorConfiguration="ClientCertificateBehavior"
                binding="wsFederationHttpBinding" bindingConfiguration="WSFederationHttpBinding_IAtomiaBillingApi" contract="AtomiaBillingApi.IAtomiaBillingApi"
                name="WSFederationHttpBinding_IAtomiaBillingApi">
      </endpoint>
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="clientInterceptors" type="Atomia.Performance.Logging.Interceptors.WcfExtensions.ClientInspectorBehavior, Atomia.Performance.Logging, Version=12.5.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>