<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appConfig" type="Atomia.Web.Base.Configs.AppConfig, Atomia.Web.Base"/>
  </configSections>
  <appConfig xmlns="Atomia.Web.Base.Configs">
    <partialsList>
      <controllerViewData controller="*" view="*" area="Examples" id="54372475437">
        <containers name="partials" id="54372475436">
          <partials action="Loader" controller="MeterPartials" controllerAssembly="Atomia.Web.Plugin.Meter" controllerNamespace="Atomia.Web.Plugin.Meter.Controllers" id="54372475435"/>
        </containers>
      </controllerViewData>
    </partialsList>
    <pluginSettingsList>
      <pluginSettingsPlugin pluginName="Examples">
          <pluginSetting name="SomeSetting" value="1234"/>
      </pluginSettingsPlugin>
    </pluginSettingsList>
  </appConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
